.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}
.objective{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}
.turn{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    padding: 0px 0p 0px 0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2.5px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    /* box-shadow: 0 0 0 10px #fff; */
    animation: animate 1s linear infinite;
    overflow: hidden;
}
td{
    /* padding: 10%; */
    /* margin: 10%; */
    /* border: 1px solid red; */
    align-items: center;
}
table{
    /* border: 10px solid #000; */
    /* display: grid; */
    /* align-items: center;
    justify-content: center; */
    margin:0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}
.main-grid{
    align-items: center;
    justify-content: center;
    place-items: center;
    place-content: center;
    display: grid;
}


.player1{
    background-color: #ff0000;
    color: #fff;
}

.player2{
    background-color: blue;
    color: #fff;
}