body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(45deg, red, blue); */
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    overflow: hidden;
    min-height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}
.objective{
    display: block;
    text-align: center;
    font-size: 20px;
    color: rgb(208, 169, 169);
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}
.turn{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    padding: 0px 0p 0px 0px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 2.5px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    /* box-shadow: 0 0 0 10px #fff; */
    animation: animate 1s linear infinite;
    overflow: hidden;
}
td{
    /* padding: 10%; */
    /* margin: 10%; */
    /* border: 1px solid red; */
    align-items: center;
}
table{
    /* border: 10px solid #000; */
    /* display: grid; */
    /* align-items: center;
    justify-content: center; */
    margin:0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}
.main-grid{
    align-items: center;
    justify-content: center;
    place-items: center;
    place-content: center;
    display: grid;
}


.player1{
    background-color: #ff0000;
    color: #fff;
}

.player2{
    background-color: blue;
    color: #fff;
}

.hovering{
    opacity: 50%;
    /* background-color: #000; */
}

.error{
    color: #ff0000;
}

.no-error{
    color: #7dbdc1;
}

.winner{
    color: green;
}
